<div>
    <img style='height:7.5em; width:100%' height="150" width="700"  src='public/Anotación 2020-07-30 172748.png'  />
    {{!-- src='public/Anotación 2020-07-30 172748.png' --}}
    <div style='width:100%'>
        <p><b>¡Bienvenido!</b></p>
        <p>Estamos encantados de que formes parte de la comunidad Empresa de Gamanfy.
        <p style='width:100%'>Gamanfy es la primera plataforma de selección de personal 2.0 que combina las nuevas tecnologías con un
            programa de referenciadores de candidatos externo elaborado por profesionales e influencers de talento ambos
            expertos en su sector.
        </p>
        <a href= '{{env}}/auth/login'
            style="color:white; text-decoration:none; border:none !important; background-color:rgb(255,188,73); border-radius:5px; width:22em; padding:.2em .5em .2em .5em; height:2.5em; margin-top:2em; margin-left:em; font-weight:500">
            Publica ahora tu primera oferta de trabajo</a><br />
        <p style='margin-top:1em'>Si tienes alguna duda, escríbenos a <b>info@gamanfy.com</b></p>
    </div>
</div>