<div>
    <img style='height:auto; width:auto' src="cid:unique3@nodemailer.com" />
    <div style='width:auto'>
        <p style='text-align:left !important'>Hola {{recommendedFirstName}},</p>
        <p style='width:auto'>
            {{companyName}} ha descartado tu candidatura para la oferta {{jobName}}. <br />
            Si tienes cualquier pregunta no dudes en ponerte en contacto con nosotros. <br/>

            Un saludo, el equipo de Gamanfy.
        </p>

    </div>
</div>