<div>
  Hello
</div>

{{!-- <form action='/auth/confirmation/{{confirmationToken}}' method='post'>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" name='email' aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <input type='text' name='token' value='{{userToken}}' />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
 --}}

{{!-- 

<form action='/auth-co/confirmation/{{confirmationToken}}' method='post'>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" name='email' aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <input type='text' name='token' value='{{companyToken}}' />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>  --}}